<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Register</title>

</head>

<body>

    <div class="well spaced" style="width:40%;">
        <div>
            <h1>Sign In</h1>
            <form action="/login" method="POST">

                <div class="form-group">
                    <label>Email:
                        <input type="email" name="email" required class="form-control">
                    </label>
                </div>

                <div class="form-group">
                    <label>Password:
                        <input type="password" name="password" required class="form-control">
                    </label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Log In If You Dare" class="btn btn-danger">
                </div>

            </form>

</body>

</html>